@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0 20px;
  background: gray;
}

main {
  max-width: 704px;
  margin: 0 auto;
}

div:not(:last-child) {
  padding: 15px 50px;
}

h1, h2 {
  margin: 15px 0;
  text-align: center;
}

.big-bang {
  border-radius: 15px 15px 0 0;
}

.string-theory {
  border-radius: 0 0 15px 15px;
}

.big-bang, .string-theory {
  background: black;
  color: white;
}

.black-holes {
  background: white;
}

img, iframe {
  display: block;
  margin: 15px auto;
}

iframe {
  border-radius: 15px;
}

img {
  width: 80%;
}

footer {
  text-align: center;
  margin: 25px 0;
}

@media (max-width: 863px) {
  .video {
    position: relative;
    padding-bottom: 53.2%;
    padding-top: 25px;
    height: 0;
  }

  .video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  footer {
    margin-top: 40px;
  }
}